
.carousel, .carousel-inner{
	height: 100%;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-control {
  &.right, &.left {
    background-image: none;
    i.fa{
      margin-top: $null;
      font-family: $icon-font;
          width: 30px;
      height: 30px;
    margin-top: -10px;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    }
  }
}

.carousel .item {
 /* min-height: 100vh;*/
  height: 100%;
  width: 100%;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-caption {
  button {
    background-color: #09c;
  }
   h2 {
    color: $theme-white;
    font-size:$default-font-size *10;
    text-align: center;
    padding: $null;
    font-family: $script-font;
    @include text-shadow(rgba(black, 0.5) 0px 3px 3px);
    
  }
  h3 {
    font-family: $default-font;
    color: $theme-white;
    font-size:$default-font-size;
    text-transform: uppercase;
    text-align: center;
    padding: $default-pad-marg/2;
    border: 1px solid $theme-white;
    @include border-radius(4px, 4px);
    display: table;
    margin-left: $default-pad-marg*2*5;
    margin-bottom: -$default-pad-marg*3;
    @include text-shadow(rgba(black, 0.5) 0px 1px 1px);
  }
  h5 {
    font-family: $default-font;
    color: $theme-white;
    font-size:$default-font-size -.2;
    text-align: center;
    padding: $default-pad-marg/2;
    border: 1px solid $theme-white;
    @include border-radius(4px, 4px);
    display: table;
    margin:$null auto;
    max-width:$width*3;
    margin-top: -$default-pad-marg*3;
    padding-top: $default-pad-marg+1;
    @include text-shadow(rgba(black, 0.5) 0px 1px 1px);
    position: relative;
    b{
      float: right;
      font-style: italic;
      font-family: Georgia;
    }
    &:before{
      content: "\f10d";
      font-family: $icon-font;
      color: $theme-dark;
      position: absolute;
      top:-$default-pad-marg;
      left: $default-pad-marg/2;
      padding:$default-pad-marg/2;
      background-color: $theme-white;
      @include border-radius(4px, 4px);
      vertical-align: middle;
      @include text-shadow(none);
    }
  }

}

.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}

/*.carousel-caption {
  
  button {
    border-color: #00bfff;
    margin-top: 1em;
  }
  h3 {
    &:first-child {
      animation-delay: 1s;
    }
    &:nth-child(2) {
      animation-delay: 2s;
    }
  }
  button {
    animation-delay: 3s;
  }
}*/

/* Animation delays */

.item{
  .carousel-caption {
    opacity: 0;
    @extend .inheritall;
    @extend .vh-center;
    h3{
      opacity: 0;
    }

  }
  &.active{
    .carousel-caption {
      opacity: 1;
      h3{
        @extend .animated;
        @extend .bounceIn;
        animation-delay: 1.2s;

      }
      h2{
        @extend .animated;
        @extend .flipInX;
        animation-delay: .5s;
      }
      h5{

        @extend .animated;
        @extend .bounceIn;
        animation-delay: 1.5s;
      }
    }
  }
}


.p {
  padding-top: 125px;
  text-align: center;
  a {
    text-decoration: underline;
  }
}