
.fixed-header{
	position: fixed;
	top: 0px;
	z-index: 999999;
	padding:10px 40px;
	width: 100%;
	.logo-box{
		float: left;
		display: inline-block;
		a.logo-anchor{
			display: table;
			min-width: 207px;
			img{
				display: inline-block;
				float: left;
			}
			h2{
				text-transform: uppercase;
				color: $theme-white;
				display: table;
				b{
					display: block;
					font-size: $default-font-size*2;
						
				}
				span{
					font-size: $default-font-size /2;
				}

			}
		}
	}

	.gwmc-menu-container{
		float: $end;
		display: table;
		ul{
			display: inline-block;
			li{
				display: inline-block;
				a{
					display: block;
					padding: 20px;
					color: $theme-white;
					text-transform: uppercase;
					font-size: $default-font-size - .3;
					font-weight: $default-font-weight;
				}
			}
		}
		.menu-gwmc_main_menu-container{display: table-cell;float:$begin}
		ul.smedia-menu{
			float: $end;
			display: table-cell;
			position: relative;
			.smedia-share{
				display: inline-block;
			}
			ul{
				display: none;
				background-color: $theme-white;
				@include border-radius(4px, 4px);
				padding: 20px;
				position: absolute;
				top: 120%;
				right: 0px;
				width: 160px;
				&:before{
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					background-color: $theme-white;
					top: -5px;
					right: 26.5px;
					@include transform(rotate(#{$deg * 9}deg));

				}
				li{
					display: block;
					a{
						padding: 10px;
						display: block $default;
						border-radius:inherit $default;
						i.fa{
							font-size: $default-font-size;
							display: inline-block;
							float: left;
							margin-right: 8px;

						}
						span{
							font-size: $default-font-size - .5;
						}
					}
				}
			}

			&.opened{
				.smedia-share{
					background-color: $theme-white;
					color: $dark-blue;
					@include border-radius(4px, 4px);
				}
				ul{
					display: block;
				}
			}
		}
		
	}
}

.carousel-container{
	position: relative;
	top: 0px;
	z-index: 9;
}

.welcome-intro{
	padding: $default-pad-marg*6 $null;
	background-color: $heavy-dark-blue;
	h2{
		font-family: $default-font;
		font-size: $default-font-size*2;
		font-weight: $default-font-weight;
		color: $theme-yellow;
		text-align: center;
		margin-bottom: $default-pad-marg;
		
	}

	p{
		font-family: $default-font;
		font-size: $default-font-size;
		font-weight: $default-font-weight;
		color: $theme-white;
		text-align: center;
		max-width: $width*3;
		margin:$null auto;
		display: block;

	}
}