/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/* line 5, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Users/Amal/Desktop/compass.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/********************************************
***********GWMC_Theme_Variables**************
********************************************/
/*Global*/
/*Font*/
/*Theme Colors*/
/*Theme Floating*/
/*Tranform*/
/* line 2, ../sass/_components/_carousel.scss */
.carousel, .carousel-inner {
  height: 100%;
}

/* line 6, ../sass/_components/_carousel.scss */
.carousel-indicators {
  bottom: 0;
}

/* line 11, ../sass/_components/_carousel.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

/* line 16, ../sass/_components/_carousel.scss */
.carousel .item {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

/* line 25, ../sass/_components/_carousel.scss */
.carousel-caption h3, .carousel .icon-container {
  background-color: #09c;
}

/* line 30, ../sass/_components/_carousel.scss */
.carousel-caption button {
  background-color: #09c;
}
/* line 33, ../sass/_components/_carousel.scss */
.carousel-caption h3 {
  padding: .5em;
}

/* line 38, ../sass/_components/_carousel.scss */
.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}

/* line 48, ../sass/_components/_carousel.scss */
.carousel-caption button {
  border-color: #00bfff;
  margin-top: 1em;
}
/* line 53, ../sass/_components/_carousel.scss */
.carousel-caption h3:first-child {
  animation-delay: 1s;
}
/* line 56, ../sass/_components/_carousel.scss */
.carousel-caption h3:nth-child(2) {
  animation-delay: 2s;
}
/* line 60, ../sass/_components/_carousel.scss */
.carousel-caption button {
  animation-delay: 3s;
}

/* Animation delays */
/* line 68, ../sass/_components/_carousel.scss */
.p {
  padding-top: 125px;
  text-align: center;
}
/* line 71, ../sass/_components/_carousel.scss */
.p a {
  text-decoration: underline;
}

/* line 2, ../sass/_theme/_layout.scss */
.fixed-header {
  position: fixed;
  top: 0px;
  z-index: 999999;
  padding: 10px 40px;
  width: 100%;
}
/* line 8, ../sass/_theme/_layout.scss */
.fixed-header .logo-box {
  float: left;
  display: inline-block;
}
/* line 11, ../sass/_theme/_layout.scss */
.fixed-header .logo-box a.logo-anchor {
  display: table;
  min-width: 207px;
}
/* line 14, ../sass/_theme/_layout.scss */
.fixed-header .logo-box a.logo-anchor img {
  display: inline-block;
  float: left;
}
/* line 18, ../sass/_theme/_layout.scss */
.fixed-header .logo-box a.logo-anchor h2 {
  text-transform: uppercase;
  color: #ffffff;
  display: table;
}
/* line 22, ../sass/_theme/_layout.scss */
.fixed-header .logo-box a.logo-anchor h2 b {
  display: block;
  font-size: 2.6em;
}
/* line 27, ../sass/_theme/_layout.scss */
.fixed-header .logo-box a.logo-anchor h2 span {
  font-size: 0.65em;
}
/* line 35, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container {
  float: right;
  display: table;
}
/* line 38, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul {
  display: inline-block;
}
/* line 40, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul li {
  display: inline-block;
}
/* line 42, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul li a {
  display: block;
  padding: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
}
/* line 52, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container .menu-gwmc_main_menu-container {
  display: table-cell;
  float: left;
}
/* line 53, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu {
  float: right;
  display: table-cell;
  position: relative;
}
/* line 57, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu .smedia-share {
  display: inline-block;
}
/* line 60, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu ul {
  display: none;
  background-color: #ffffff;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  padding: 20px;
  position: absolute;
  top: 120%;
  right: 0px;
  width: 160px;
}
/* line 69, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu ul:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  top: -5px;
  right: 26.5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 80, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu ul li {
  display: block;
}
/* line 82, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu ul li a {
  padding: 10px;
  display: block !important;
  border-radius: inherit !important;
}
/* line 86, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu ul li a i.fa {
  font-size: 1.3em;
  display: inline-block;
  float: left;
  margin-right: 8px;
}
/* line 93, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu ul li a span {
  font-size: 0.8em;
}
/* line 101, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu.opened .smedia-share {
  background-color: #ffffff;
  color: #054892;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}
/* line 106, ../sass/_theme/_layout.scss */
.fixed-header .gwmc-menu-container ul.smedia-menu.opened ul {
  display: block;
}

/* line 115, ../sass/_theme/_layout.scss */
.carousel-container {
  position: relative;
  top: 0px;
  z-index: 9;
}

/* line 2, ../sass/_theme/_theme.scss */
body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.3;
}

/* line 7, ../sass/_theme/_theme.scss */
a, a:focus, a:hover {
  text-decoration: none;
}
