
/********************************************
***********GWMC_Theme_Variables**************
********************************************/

/*Font*/

$default-font:'Roboto Condensed', sans-serif;
$default-font-size:1.3em;

/*Theme Colors*/

$dark-blue:#054892;
$light-blue:#0097d9;
$theme-orenge:#ff7d03;
$theme-yellow:#ffdc00;
$theme-red:#ea092a;
$theme-violet:#a13f95;
$theme-white:#ffffff;
$theme-gray:#bbcbd6;


/*Theme Floating*/

$begin:left;
$end:right;